{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>¿Quiere Eliminar el Evento "{{ agenda.nombre }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="background: none; border: 0px;"><img src="{% static 'button_aceptar.png' %}" class="buttons"></button>
    </form>
    <a href="{% url 'core:index' %}"><img src="{% static 'button_volver.png' %}" class="buttons"></a>
</body>
</html>