{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.global.js' %}">
    <script src="{% static 'index.global.js' %}"></script>
</head>
<body>
    <a href="{% url 'core:mes' %}"><button>Agregar Fecha</button></a>
    <h1>Agenda de MariainitialDate: '2025-03-12',</h1>
    <h6>V1.0</h6>
</body>
</html>

