{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.global.js' %}">
    <script src="{% static 'index.global.js' %}"></script>
</head>
<body>
    <header><h1>Agenda de Maria</h1></header>
    <h5>V2.2</h5>
    <a href="{% url 'core:mes' %}"><button>Ver Calendario</button></a>
    <a href="{% url 'core:prueba'%}"><button>prueba</button></a>
</body>
</html>

